*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #414141;
}

.container{
    margin: 100px auto;
    text-align: center;
    justify-content: center;
}
        
.container .images .reactjs-image{
    margin-right: 50px;
    height: 130px;
    border: none;
    animation: rotateCircle 4s infinite linear;
    cursor: pointer;
}

@keyframes rotateCircle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
        
.container .images .reactjs-image:hover{
    border: none;
    transition: filter 500ms;
    filter: drop-shadow(0 0 2em #35c8f1aa);
    transition: 0.1s ease 0.1s;
}

.container .images .vite-image {
    height: 130px;
    cursor: pointer;
}

.container .images .vite-image:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    border: none;
    transition: filter 500ms, all 0.5s ease 0.1s;
}


.heading{
    margin-top: 80px;
    font-size: 3.5rem;
    text-align: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding-right: 30px;
    color: #fff;
}

.count-button{
    margin-top:20px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    color: #414141;
    font-weight: 800;
    outline:none;
    border: none;
    /* background-color: #8080804c; */
    user-select: none;
    background-color: white;
    font-size: 1.1rem;
}
        
.count-button:hover{
    border: 2px solid red;
    cursor: pointer;
    outline: none;        
}

.container p{
    color: #fff;
    word-spacing: 6px;
    font-size: 1.3rem;
    margin: 20px auto;  
}

.container .last-line{
    margin: 30px;
    font-size: 1.5rem;
    text-wrap: nowrap;
    color: #fff;
    display: inline-block;
    width: 680px;
    word-spacing: 5px;
}

.container .last-line a{
    color: orange;
    text-decoration: none;
}

.container .last-line a:hover{
    text-decoration: underline;
}


